<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners> 
		<listener class-name="utility.Listner"> </listener>	
	</listeners> 
	<parameter name="url" value="https://www.demoblaze.com/"></parameter>
	
  <test name="Test">
	   <parameter name="browser" value="chrome"></parameter>
	  
    <classes>
      <class name="test.TC002_LogIn"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
